MONGO_URI="mongodb+srv://<username>:<password>@cluster.example.mongodb.net/AttendanceSystemDB?retryWrites=true&w=majority"
DB_NAME="AttendanceSystemDB"
STUDENTS_COLLECTION="students"
ATTENDANCE_COLLECTION="attendance"
EMBEDDINGS_CACHE_FILE="student_embeddings_cache.pkl"
USE_GPU=false
COSINE_SIMILARITY_THRESHOLD=0.70
MIN_EMBEDDINGS_FOR_REGISTRATION=3
FLASK_DEBUG=true
FLASK_RUN_HOST=0.0.0.0
FLASK_RUN_PORT=5000
